.SearchTable .col {
  cursor: pointer;
}

.SearchTable .col .pointer:after {
  font-size: 80%;
  content: "";
  margin-right: 18px;
}

.SearchTable .col .pointer:hover:after {
  font-size: 80%;
  content: "🔻";
  margin-right: 0;
}